<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template1">

<head>
	<meta charset="utf-8">
	<title>Add Article</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-
5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>

	<div layout:fragment="pageContent">
		<div class="container  my-3">
			<div class="card  col-md-8">
				<div class="card-header">
					<h3> Add Article</h3>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="col-md-10">
							<form action="#" th:action="@{/article/add}" th:object="${article}" method="post"
								enctype="multipart/form-data">
								<div class="row">
									<div class="form-group col-md-8">
										<label for="label" class="col-form-label">Label</label>
										<input type="text" th:field="*{label}" class="formcontrol" id="label"
											placeholder="label" />
										<span th:if="${#fields.hasErrors('label')}" th:errors="${article.label}"
											class="text-danger"></span>
									</div>
									<div class="form-group col-md-8">
										<label for="price" class="col-form-label">Price</label>
										<input type="text" th:field="*{price}" class="form-control" id="price"
											placeholder="Price" />
										<span th:errors="${article.price}" class="text-danger"></span>
									</div>



									<div class="form-group col-md-8">
										<label for="picture" class="col-form-label">Picture</label>
										<input class="form-control" type="file" id="picture" name="files" multiple>
									</div>

									<div class="form-group col-md-8">
										<label for="provider" class="col-form-label">Providers</label>
										<select name="providerId" class="form-control">
											<option th:each="pr: ${providers}" th:value="${pr.id}"
												th:text="${pr.name}" />
										</select>
									</div>
									<div class="col-md-6">
										<input type="submit" class="btn btn-primary" value="Add Article"
											style="margin-top:20px" />
									</div>

									<div class="form-group col-md-8"></div>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>