<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8">
	<title>Patients</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<ul class="navbar-nav">
			<li class="nav-item">
			<img title="logo" alt="logo" th:src="@{'/images/ams.png'}"  width="30" height="30" />
		</li>
		


		<!-- Links -->
		
			<li class="nav-item">
				<a class="nav-link" href="#">Home</a>
			


			<!-- Dropdown -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					Provider
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/provider/add}">Ajouter</a>
					<a class="dropdown-item" th:href="@{/provider/list}">List</a>
				</div>
			</li>


			<!-- Dropdown -->

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					Article
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/article/add}">Ajouter</a>
					<a class="dropdown-item" th:href="@{/article/list}">List</a>
				</div>
			</li>
		</ul>



		<ul class="navbar-nav ml-auto">
			<!-- Dropdown -->
			<li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					<span sec:authorize="isAuthenticated()">
						<span sec:authentication="name"></span>
					</span>
					<span sec:authorize="!isAuthenticated()">
						<span>s'identifier</span>
					</span>

				</a>
				<div class="dropdown-menu">
					<a sec:authorize="isAnonymous()" class="dropdown-item" th:href="@{login}">Login</a>
					<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{logout}">Logout</a>
					<a class="dropdown-item" href="#">Profile</a>
				</div>
			</li>
		</ul>
	</nav>
	<section layout:fragment="pageContent">
	</section>
</body>

</html>