<!DOCTYPE html>
<html>
<header>
	<meta charset="UTF-8">
	<title>Spring Boot</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/main.css}" />

</header>

<body>

	<h3 align="center"> Liste des Candidats</h3>
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-8">
				<a class="btn btn-primary" style="margin-bottom:20px" th:href="@{/add}">Ajouter Candidat</a>
				<table class="table table-striped" align="center" border="2">

					<tr>

						<th>ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Téléphone</th>
					</tr>

					<tr th:each="c : ${tabview}">
						<td th:text="${c.id}"></td>
						<td th:text="${c.nom}"></td>
						<td th:text="${c.email}"></td>
						<td th:text="${c.telephone}"></td>

					</tr>
				</table>
			</div>
		</div>
	</div>
</body>

</html>